* {
    margin: 0;
    padding: 0;
}

h1,
p {
    color: purple;
}

body div section p,
body div section h1 {
    color: red;
}

.color-blue {
    color: blue;
}

.main-content h2 {
    font-style: italic;
}

.main-content .heading {
    color: green;
}

.main-content h2.heading {
    color: yellow;
}

.pai>.filha>.filha {
    color: darkblue;
}