* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 200px 1fr 2fr; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 5fr 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr 2fr); */
    /* grid-template-columns: repeat(3, 1fr);  */
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    /* grid-template-rows: repeat(2, 1fr 2fr); */
    gap: 30px;
}

.grid div {
    background: tomato;
    min-height: 100px;
}

.grid div:nth-child(5) {
    background: darkred;
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6; */
    grid-row: span 2;
    grid-column: span 2;
}

@media (max-width: 768px) {
    .grid div:nth-child(5) {
        grid-column: span 1;
    }
}