* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.grid {
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 73px;
}

.grid .col {
    /* display: inline-block; */
    height: 300px;
    float: left;
    padding: 15px;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    /* background: red; */
    /* background: #ABC; */
    /* background: #abc123; */
    /* background: rgb(255, 93, 93); */
    /* background: #3526a756; */
    /* background: rgba(0, 0, 0, 0.3); */
    /* background: hsl(300, 76%, 72%); */
    background: hsla(300, 76%, 72%, 0.4);
}

.menu {
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.842);
}

.menu ul {
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover {
    background: #333;
}

.full-page {
    max-width: 100%;
    padding-top: 73px;
    height: 100vh;
    background: turquoise;
}

.full-page-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

@media all and (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}

@media all and (min-width: 1200px) {
    .grid .col {
        width: 25%;
    }
}