ul li::after {
    content: ' - ';
    background: red;
    color: white;
    /* display: block; */
}

ul li::before {
    content: ' - ';
    background: blue;
    color: white;
}

p {
    font-size: 24px;
}

p::first-letter {
    font-size: 150px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

p::first-line {
    background: red;
}

p::selection {
    background: black;
    color: white;
}

::placeholder {
    color: red;
}

.form-field::placeholder {
    color: blueviolet;
}