* {
    margin: 0;
    padding: 0;
}

.pai h1+p {
    color: red;
}

.pai p+h1 {
    color: yellow;
}

.pai .um~.dois {
    color: red;
}

.pai .um+.dois {
    color: blue;
}

[meu-atributo="valor"] {
    color: green;
}

[checked] {
    width: 50px;
    height: 50px;
}