p {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 25px;
    text-align: left;
    text-decoration: overline;
    text-indent: 50px;
    text-shadow: -1px 1px 1px red;
    text-transform: capitalize;
}