* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    padding: 15px;
}

.grid .col {
    /* display: inline-block; */
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background: red;
}